section {
    padding-top: 10px;
}
/* <----- Begin impress.js Photo Slideshow css -----> */
.carousel {
    overflow: hidden;
    display: table;
    width: 100%;
}

.carousel-item {
    display: table-cell;
}
/* <----- End -----> */

.sidepull {
    text-align: middle;
    margin-top: 10%;
    margin-bottom: 10%;
}

.sliders {
    font-size: 100px;
}

.btn-link:hover {
    text-decoration: none;
}

#joborder {
    float: right;
}

.basket {
    padding: 5px;
    border: 3px solid #DBD4D4;
    border-radius: 10px;
}

.control-group {
    padding: 5px;
}

#footer {
    background-color: whiteSmoke;
}

.slider:hover {
    text-decoration: none;
}
